*{
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
  font-family: 'Kalam', cursive;  letter-spacing: 2px;
  font-weight: 400;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;


}
.wrapper{
  display: flex;
  height: 70vh;
  width: 100%;
  padding: 5%;
  flex-wrap: wrap;
  flex-direction: row;
margin: 0;
padding: 0;
}
.box{
  margin: 0;
  padding: 0;
  width: 20%;
  min-height: 20px;
}
button,
select{
  font-family: inherit;
  font-size: 18px;
  background-color: white;
  border: solid black 2px;
  border-radius: 10px;
  padding: 5px 8px;

}


h1{
  padding: 0;
  margin: 0;
  font-size: 28px;
  text-align: center;
}
.select-div{
  padding: 30px;

}


.content{
  max-width: 800px;
  display: flex;
  padding: 20px;
  height: 90%;
  width: 90%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px black solid;
  border-radius: 15px;
}


@media (max-width: 550px) {
  .select-div{
    padding: 15px;
  }

  .content{
    height: 75%

  }
}
